.faq-section .show-hide {
  position: relative;
  display: block;
}
.rbd-faq-section .show-hide {
  display: block;
}
.rbd-arrow .close-icon,
.rbd-plus .rbd-arrow .close-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 20px;
  transform-origin: center;
  transition: transform .5s;
  background-image: url(../images/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.rbd-arrow .close-icon::before,
.rbd-plus .rbd-arrow .close-icon::before,
.rbd-arrow .close-icon::after,
.rbd-plus .rbd-arrow .close-icon::after {
  content: none;
}
.rbd-arrow .open .close-icon,
.rbd-plus .rbd-arrow .open .close-icon {
  transform: rotate(0);
}
.rbd-plus .close-icon,
.rbd-arrow .rbd-plus .close-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 20px;
  transform-origin: center;
  transition: transform .5s;
  transform: rotate(-45deg);
  background-image: none;
}
.rbd-plus .close-icon::before,
.rbd-arrow .rbd-plus .close-icon::before,
.rbd-plus .close-icon::after,
.rbd-arrow .rbd-plus .close-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 1px;
  content: ' ';
  background-color: #3f51b5;
}
.rbd-plus .close-icon::before,
.rbd-arrow .rbd-plus .close-icon::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.rbd-plus .close-icon::after,
.rbd-arrow .rbd-plus .close-icon::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.rbd-plus .open .close-icon,
.rbd-arrow .rbd-plus .open .close-icon {
  transform: rotate(0);
}
.rbd-arrow .none .close-icon,
.rbd-plus .none .close-icon {
  display: none!important;
}
