/* 
# Styles for the faq plugin.

This is the bash function used to compile the styles.

```
function rb-lessc() {
  # Example: $ rb-lessc faqs
  #          input  : faqs.less
  #          output : faqs.min.css
  # Compiles a less file. Autopreffixes all of the css, combines media queries and then minifies all the styles.

  lessc  --group-css-media-queries --autoprefix="Android >= 2.3,BlackBerry >= 7,Firefox >= 4,Chrome >= 9,Explorer >= 9,iOS >= 5,Opera >= 11,Safari >= 5,OperaMobile >= 11,OperaMini >= 6,ChromeAndroid >= 9,FirefoxAndroid >= 4,ExplorerMobile >= 9" $1.less $1.min.css --clean-css
}
```

You will need these installed globally:
* less
* less-plugin-autoprefixyou
* less-plugin-clean-css
* less-plugin-group-css-media-queries
*/

.rbd-faq-section{
    .show-hide{
        position: relative;
        display: block;
        border: none;
        box-shadow: none;
        text-decoration: none;
    }
}

.rbd-faq-section{
    .rbd-faq-cat-title{
        h4{
            color: inherit;
            margin: 0;
        }
    }
    .rbd-faq-category>.rbd-faq-cat-title,
    .show-hide,
    .rbd-faq-sliding-div{
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: 0.3rem;
    }
    .rbd-faq-category>.rbd-faq-sliding-div{
        padding:0;
    }
}

.arrow,
.plus .arrow{
    .close-icon{
        // The color the arrow can be changed by changing the fill color in the svg element.
        position: absolute;
        right: 0.5rem;
        top: ~"calc(50% - 10px)";
        top: ~"calc(50% - 0.5rem)";
        transform-origin: center;
        transition: transform .5s;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-width: 0 0.5rem 1rem 0.5rem;
        border-color: transparent transparent currentColor transparent;

        transform: rotate(180deg);

        &::before, &::after{
            content: none;
        }
    }
    .open .close-icon{
        transform: rotate(0);
    }
}
.plus,
.arrow .plus{
    .close-icon{
        position: absolute;
        right: 0.5rem;
        top: ~"calc(50% - 10px)";
        height: 20px;
        width: 20px;

        top: ~"calc(50% - 0.5rem)";
        height: 1rem;
        width: 1rem;

        transform-origin: center;
        transition: transform .5s;
        transform: rotate(-45deg);
        border: none;
        &::before,
        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;
            height: 1px;
            content: ' ';
            background-color: currentColor;
        }
        &::before{
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
        &::after{
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
    .open .close-icon{
        transform: rotate(0);
    }
}
.arrow .none .close-icon,
.plus .none .close-icon{
    display: none!important;
}