#rbd-faq-preview,
#rbd-faq-preview * {
  box-sizing: border-box;
}

#rbd-faq-preview {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  max-width: 700px;
  padding: 8px;
  padding: 0.5rem;
  background: #fff;
}

#rbd-faq-preview .inner {
  position: relative;
  height: 400px;
  max-height: 80vh;
}

#rbd-faq-preview iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input.rbd-faq-invalid-color {
  color: darkred;
  -webkit-animation: borderColor 2s;
  animation: borderColor 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes borderColor {
  0% {
    border-color: #ddd;
  }
  25% {
    border-color: red;
  }
  100% {
    border-color: #ddd;
  }
}

@keyframes borderColor {
  0% {
    border-color: #ddd;
  }
  25% {
    border-color: red;
  }
  100% {
    border-color: #ddd;
  }
}