@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css";
html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  line-height: 18px;
}

a {
  text-decoration: none;
}

pre {
  max-width: 100%;
  padding: 0.6rem 1rem 0.6rem;
  background: #eaeaea;
  overflow-x: scroll;
}